# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 82b26679861fe3a0046061fdc93eaddad727c3a56225aef7e3bfdd9a918869eec90d69c5c849a431776904d59e0581441b28dd999d9a8cd6c725efbfb24882ff

test:
  secret_key_base: 4cbb3728b9e87bea05f58129bb14a3e40de163b1eb544c365c525d53e876cff32e17a74fc93b9911f2e73e4791ad226200186ffb51779e7bdce0aa8340d7703c

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
